#count {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: bold;
}

#logo {
    background: url('../assets/holberton-logo.jpg');
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
}