*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 6px solid #E0354B;
}

.App-header h1 {
  color: #E0354B;
}

.App-header img {
  height: 200px;
}

.App-body {
  padding: 3rem;
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 6px solid #E0354B;
  padding: 1rem 0;
}

.App-body label, .App-body input {
  margin-right: 6px;
}