.Notifications {
    padding: 2rem;
    border: 2px dashed #E0354B;
    position: relative;
    position: absolute;
    top: 3rem;
    right: 1.7rem;
}

button img {
     width: 16px;
}

.menuItem {
    position: absolute;
    top: 1rem;
    right: 15.5rem;
}

[data-notification-type="default"] {
    color: blue;
}

[data-notification-type="urgent"] {
    color: #E0354B;
}